[Unit]
Description=Deamon service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/deamon/app.py
[Install]
WantedBy=multi-user.target